#main-page .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#main-page .trigger:hover {
    color: #1890ff;
}

#main-page .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

#main-page{
    height: 100vh;
}
#main-page .main-sider{
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
}