#mainPage {
    height: 100%;
}

#mainPage .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#mainPage .trigger:hover {
    color: #1890ff;
}

#mainPage .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px;
}

#mainPage .logofont{
    color: white;
    font-size: 23px;
    margin-left: 45px;
}